body {
	padding: 0 !important;
	margin: 0 !important;
}

.container {
	max-width: 1480px;
    min-height: 25vh;
    margin: 0 auto;
    padding: 40px 2% 0 2%;
    transition: opacity 300ms;
}

.gallery {
	padding: 0 2%;
}

.gallery .item {
	display: flex;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	min-height: 400px;
}

.gallery .item:nth-child(even) {
	flex-direction: row-reverse;
}

.gallery .item img{
	opacity: 0;
}

.gallery .item .primary {
	width: 68%;
	margin: 0 15px;
}

.gallery .item .primary.full{
	width: 100%;
}

.gallery .item .primary img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery .item .thumbnail {
	display: flex;
  	flex-direction: column;
	width: 32%;
}

.gallery .item .thumbnail div{
	align-self: center;
	position: relative;
	width: calc(100% - 30px);
	height: 100%;
	overflow: hidden;
	padding-top: 30px

}

.gallery .item .thumbnail div:nth-child(1){
	padding-top: 0px !important;
}


.gallery .item .thumbnail div:nth-child(1) img{
	height: 100%;
}
.gallery .item .thumbnail div img{
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: calc(100% - 30px);
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}